<ion-header>
  <ion-toolbar>
    <ion-title>loginmodal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label position="floating">Enter email</ion-label>
        <ion-input></ion-input>
      </ion-item>

      
<ion-item>
    <ion-label position="floating">Enter Password</ion-label>
    <ion-input></ion-input>
  </ion-item>

  
  <ion-button color="success" routerLink="/landing" routerDirection="forward">login</ion-button>
  <ion-button color="tertiary" routerLink="/loginmodal" routerDirection="root">Cancel</ion-button>
</ion-content>
